<%= form_with model: @good, local: true do |form| %>
  <div>
    <%= form.label :code, "商品コード" %>
    <%= form.text_field :code %>
  </div>
  
  <div>
    <%= form.label :name, "商品名" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :unit_weight, "単量（kg）" %>
    <%= form.text_field :unit_weight %>
  </div>

  <div>
    <%= form.submit "登録する" %>
  </div>

<% end %>